@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
     font-family: "Poppins", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.container{
     background-color: #1e2227;
     width: 100%;
     height: 100vh;   
}
/* header start */
header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 40px 8%;
}
.header-icons{
     display: flex;
     column-gap: 20px;
}
.header-icons a{
font-size: 26px;
color: white;
}
/* header end */
/* section-left start */
.section{
     display: flex;
}
.left{
     color:#fff;
     flex-basis: 50%;
     padding-left: 8%;
     margin-top: 50px;
}
.left h1{
     font-size: 74px;
     line-height: 100px;
}
.left h3{
     display: inline-block;
     font-size: 25px;
}
.left s{
    font-size: 16px;
}
.price{
     margin-top: 15px;
}
.left .buttons{
     margin-top: 15px;
     display: flex;
     column-gap: 10px;
}

.left .buttons button, .left .buttons a{
      background-color: red;
      color: white;
      border: none;
      font-size: 16px;    
      padding: 20px 52px;
      cursor: pointer;
      text-decoration: none;
      transition: 0.5s;
}
.left .buttons button:hover, .left .buttons a:hover{
transform: translateY(-5px);  
background-color: #aa0505;     
}
/* section-left end */
/* section-right end */
.right{
     flex-basis: 50%;
     background-color: red;
     height:calc(80.5vh);
}
.right .best-model img{
     width: 80%;
    transform: rotate(-20deg);
    margin-top: 50px;
    margin-left: 100px;
    transition: 0.5s;
}
.right .best-model img:hover{
transform: rotate(0);
}
.smalls-img-wrapper{
     display: flex;
     padding: 70px 10%;
     column-gap: 20px;
}
.smalls-img img{
     width: 150px;
     transform: rotate(-20deg);
     transition: 0.5s;
}
.smalls-img img:hover{
     transform: rotate(0);
}
